# Logs
logs
combined.log
error.log
# Coverage directory used by tools like istanbul
coverage
*.lcov

# Dependency directories
node_modules/
package-lock.json


# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# dotenv environment variable files
environments

# Stores VSCode versions used for testing VSCode extensions
.vscode-test